{% block header %}
    <header>
        <div class="header">
            <div class="header-image">
                <a href="" class="logo_menu">
                    <img src="{{ asset('images/viajemos.png') }}" class="img-fluid" width="200" height="40"/>
                </a>
            </div>
            <div class="header-menu">
                <a href="">Mapa</a>
                <a href="{{ path('record-index') }}">Historial</a>
            </div>
        </div>
    </header>
{% endblock %}
